* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #d9f7f1;

}

.wrapper {
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0 , 0, 0, 0.1);
}


h1 {
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
    
}

form input {
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}

button {
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #059377;

}

button:hover {
    background: #059377;
}

input:focus{
    border: 1px solid rgb(192 , 192, 192);
}

.member{
    font-size: 0.8rem;
    margin-top: 1.4rem;
    color: #636363;
}

.member a{
    color: #059377;
    text-decoration: none;

}

















